/tetris-vhdl-master/db/
/tetris-vhdl-master/incremental_db/
/tetris-vhdl-master/simulation/
/tetris-vhdl-master/simulation/greybox_tmp/
/tetris-vhdl-master/simulation/output_files/
Project_VHDL/db/
Project_VHDL/output_files/
Project_VHDL/incremental_db/
Project_VHDL/simulation/
*.logdb
*.ddb
*.tdf
*.ammdb
*.sci
*.kpt
*.pin
Project_VHDL/HardwareInvaders.qws
Project_VHDL/HardwareInvaders.qsf
Project_VHDL/db/HardwareInvaders.cbx.xml
Project_VHDL/db/HardwareInvaders.cbx.xml
